body {
    font-family: $font-family-base;
    line-height: 1.5;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

a{
    display: block;
    text-decoration: none;
    transition: all 0.5s;
    &:hover {
       text-decoration: none; 
       color: none;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

h1 {
    font-family: "Baloo Thambi 2";
}
h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
    margin-top: 0;
}