<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light p-0">
    <div class="container d-flex align-items-center justify-content-center justify-content-sm-between">
      <h1>
        <a class="logo navbar-brand hide_text bg_center justify-items-center " href="index.html">PETPET</a>
      </h1>
      <button class="navbar-toggler border-0 " data-toggle="collapse" data-target="#navbarList">
        <span class="text-primary material-icons">
          menu
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarList">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link font-size-lg text-secondary text-center  p-5" href="service.html">預約服務</a></li>
          <li class="nav-item"><a class="nav-link font-size-lg text-secondary text-center p-5" href="#">成為寵物保姆</a></li>
          <li class="nav-item"><a class="nav-link font-size-lg text-secondary text-center p-5" href="login.html">登入</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <%- contents %>

  <footer>
    <div class="bg-primary">
      <div class="container ">
        <div class="row">
          <div class="col-12 col-lg-9 col-xl-7">
            <h2 class="h1 text-secondary font-weight-bold mt-9">有任何我們能幫助您的嗎？</h2>
            <h3 class="h6 text-secondary font-weight-medium">輸入電子信箱<br>將有專業人員在線幫您解決所有問題</h3>
          </div>
        </div>
        <div class="row pb-9">
          <div class="col-12 d-flex">
            <input class="col-6 col-lg-6 col-xl-4 form__mail font-size-lg text-info rounded-left border-0 py-3 pl-3 pr-16" id="email" type="email"
              placeholder="example@gmail.com">
            <button class="col-6 col-lg-3 col-xl-2 btn btn-success rounded-right border-0 font-size-lg py-3" id="email">送出</button>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row footer__menu mt-18 mb-xs-0 mb-md-22">
          <div class="col-3">
            <a class="footer__logo hide_text bg_center mt-0 mb-4 mb-md-15 mb-xl-15" href="index.html">PETPET
            </a>
            <ul class="footer_navbar d-none d-sm-none d-md-flex flex-column align-items-start">
              <li><a class="font-size-lg text-secondary pb-3" href="#">關於我們</a></li>
              <li><a class="font-size-lg text-secondary py-3" href="#">幫助中心</a></li>
              <li><a class="font-size-lg text-secondary py-3" href="#">使用條款</a></li>
              <li><a class="font-size-lg text-secondary py-3" href="#">隱私政策</a></li>
            </ul>
          </div>
          <div class="col-3">
            <h4 class="h6 font-weight-bold text-secondary d-none d-sm-none d-md-flex  pb-9">寵物服務</h4>
            <ul class="footer_navbar d-none d-sm-none d-md-flex flex-column align-items-start">
              <li><a class="font-size-lg text-secondary py-3" href="#">寵物寄宿</a></li>
              <li><a class="font-size-lg text-secondary py-3" href="#">寵物到府保姆</a></li>
              <li><a class="font-size-lg text-secondary py-3" href="#">寵物美容洗澡</a></li>
              <li><a class="font-size-lg text-secondary py-3" href="#">寵物行為訓練</a></li>
            </ul>
          </div>
          <div class="col-3">
            <h4 class="h6 font-weight-bold text-secondary d-none d-sm-none d-md-flex  pb-9">加入我們</h4>
            <ul class="footer_navbar d-none d-sm-none d-md-flex flex-column align-items-start">
              <li><a class="font-size-lg text-secondary py-3" href="#">成為寵物保姆</a></li>
              <li><a class="font-size-lg text-secondary py-3" href="#">加入寵物計程車</a></li>
              <li><a class="font-size-lg text-secondary py-3" href="#">加入寵物計程車</a></li>
              <li><a class="font-size-lg text-secondary py-3" href="#">加入寵物計程車</a></li>
            </ul>
          </div>
          <div class="col-3">
            <h4 class="h6 font-weight-bold text-secondary d-none d-sm-none d-md-flex  pb-9">聯繫我們</h4>
            <ul class="footer_navbar d-none d-sm-none d-md-flex flex-column align-items-start">
              <li><a class="font-size-lg text-secondary py-3" href="mailto:petpet@petmail.com">petpet@petmail.com</a></li>
            </ul>
          </div>
      </div>
      <div class="row justify-content-xs-start justify-content-sm-between">
          <div class="d-none d-sm-flex text-secondary">
            <span class="material-icons pr-3">
              local_phone
            </span>
            <a class="h6 font-weight-medium text-secondary" href="tel:+07-123-4567">07-123-4567</a>
          </div>
          <p class="font-size-sm text-secondary pl-4">Copyright © 2020 PetPet. All rights reserved.</p>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>
</html>