.boxPic_first {
    height: 440px;
    @include media-breakpoint-down(md) {
        height: 221px;
    }
    @include media-breakpoint-down(sm) {
        height: 282px;
    }
}
.boxPic_first_list {
    width: 96px;
    height: 96px;
    @include media-breakpoint-down(md) {
        width: 63px;
        height: 63px;
    }
}