.boxPic_first {
    height: 440px;
    @include media-breakpoint-down(md) {
        height: 221px;
    }
    @include media-breakpoint-down(sm) {
        height: 282px;
    }
}
.boxPic_first_list {
    width: 96px;
    height: 96px;
    @include media-breakpoint-down(md) {
        width: 63px;
        height: 63px;
    }
}
.boxPic_modal_first {
    height: 250px;
    @include media-breakpoint-down(md) {
        height: 151px;
    }
}
.timeline__section {
    position: relative;
    &::after {
        content:'';
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        height: 3px;
        background-color: $success;
    }
    .timeline__point {
        position: relative;
        &::after {
            content:'';
            position: absolute;
            top: -3px;
            left: 50%;
            width: 8px;
            height: 8px;
            background-color: $success;
            border-radius: 50%;
    }
    }
}
.detail__text {
    top: 0;
}