.logo {
    background-image: url(../images/logo.svg);
    width: 121px;
    height: 55px;
}
.banner {
    @include media-breakpoint-down(sm) {
        padding-bottom: 229px;
    }
    @include media-breakpoint-down(xs) {
        padding-bottom: 60px;
    }
}
.banner__img {
    background-image: url(../images/index-1.png);
    height: 750px;
    @include media-breakpoint-down(sm) {
        background-size: contain;
        height: 288px;
    }
    @include media-breakpoint-down(xs) {
        background-size: cover;
        height: 600px
    }
}
.banner__text {
    &__title {
        @include media-breakpoint-down(md) {
            font-size: 32px;
        }
        @include media-breakpoint-down(xs) {
            text-align: center;
        }
    }
    &__subtitle {
        @include media-breakpoint-down(md) {
            font-size: 20px;
            font-weight: medium;
        }
        @include media-breakpoint-down(xs) {
            text-align: center;
        }
    }
}
.banner__icon {
    position: absolute;
    width: 44px;
    height: 44px;
    bottom: -250px;
    right: 0;
    @include media-breakpoint-down(md) {
        bottom: -100px;
        right: -80px;
    }
}
.numberBanner__bg {
    background-image: url(../images/index-9.jpeg);
    height: 584px;
    @include media-breakpoint-down(sm) {
        height: 812px;
    }
}
.numberBanner__text--title {
    margin-bottom: 100px;
}
.footer__logo {
    background-image: url(../images/logo.svg);
    width: 121px;
}